.container {
  border-radius: 5px;
  font-family: 'Montserrat';
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  font-size: 16px;
  padding: 13px;
  outline: none;
  border: 1px solid #303FC0;
  cursor: pointer;

  &:not([type="submit"]) {
    background-color: #FCFCFC;
    color: #303FC0;
  }

  &[type="submit"] {
    background-color: #303FC0;
    color: #FCFCFC;
  }
}
