.container {
  justify-content: flex-start;
  margin-bottom: 15px;
  align-items: flex-start;
  display: flex;
  grid-gap: 5px;
}

.button {
  background-color: #F6F7FA;
  border-radius: 2px;
  line-height: 22px;
  padding: 2px;
  outline: none;
  border: 1px solid #303FC0;
  cursor: pointer;
  color: #303FC0;

  &:focus,
  &:hover {
    background-color: #8158FF;
    border-color: #8158FF;
    color: #FCFCFC;
  }
}
