.container {
  display: block;
}

.title {
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 17px;
  font-size: 14px;
  display: block;
  color: #8B8C93;
}

.tags {
  justify-content: flex-start;
  margin-bottom: 15px;
  align-items: flex-start;
  list-style: none;
  grid-gap: 5px;
  display: flex;
}

.tagsButton {
  transition: background-color .3s, border-color .3s;
  background-color: #F6F7FA;
  border-radius: 2px;
  line-height: 1;
  min-height: 24px;
  outline: none;
  padding: 1px;
  border: 1px solid #303FC0;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: #8158FF;
    border-color: #8158FF;

    .text {
      color: #FCFCFC;
    }
  }

  &:active {
    background-color: #303FC0;
    border-color: #303FC0;

    .text {
      color: #FCFCFC;
    }
  }
}

.text {
  transition: color .3s;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 12px;
  font-size: 12px;
  display: inline-block;
  color: #303FC0;
}

.icon {
  vertical-align: middle;
  min-width: 20px;
  display: inline-block;
  height: auto;
  width: 20px;
}

.button {
  transition: border-color .3s;
  background-color: #F6F7FA;
  margin-bottom: 5px;
  border-radius: 5px;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  display: flex;
  border: 1px solid #F6F7FA;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    border-color: #303FC0;
  }
}

.input {
  background-color: #F6F7FA;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 17px;
  font-size: 14px;
  padding: 9px 14px;
  outline: none;
  width: 100%;
  color: #3E3F4B;
}

.list {
  background-color: #F6F7FA;
  border-radius: 5px;
  list-style: none;
  padding: 10px;
}

.listItem {
  min-height: 20px;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.listItemIcon {
  vertical-align: middle;
  min-width: 20px;
  display: inline-block;
  height: auto;
  width: 20px;
}

.listItemText {
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 12px;
  font-size: 14px;
  color: #3E3F4B;

  &:not(:first-child) {
    margin-left: 5px;
  }

  &:first-child {
    margin-left: 25px;
  }
}
