.container {
  padding-bottom: 28px;
  padding-top: 27px;
}

.element {
  &:not(:last-child) {
    margin-bottom: 23px;
  }
}

.button {
  transition: font-weight .3s, opacity .3s;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  font-size: 16px;
  position: relative;
  padding: 3px 30px 2px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  color: #3E3F4B;

  &:hover {
    color: #8158FF;
  }

  &:active {
    font-weight: 500;
    color: #303FC0;
  }

  &::before {
    content: '';
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    transition: opacity .3s;
    background-color: #303FC0;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 3px;
    left: 0;
    top: 0;
  }

  &.isActive {
    font-weight: 500;
    color: #303FC0;

    &::before {
      opacity: 1;
    }
  }
}
