.container {
  list-style: none;
  padding: 30px;
}

.item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.label {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  cursor: pointer;

  &:focus,
  &:hover {
    .text {
      color: #8158FF;
    }
  }

  &:active {
    .text {
      color: #303FC0;
    }
  }
}

.text {
  transition: color .3s;
  margin-left: 10px;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 17px;
  font-size: 14px;
  color: #3E3F4B;
}
