.container {
  transition: background-color .3s, border-color .3s;
  background-color: #FCFCFC;
  border-radius: 20px;
  position: relative;
  padding: 7.75px;
  outline: none;
  border: 1px solid #E9E9EB;
  cursor: pointer;

  &:not(:disabled) {
    &:focus,
    &:hover {
      border-color: #8158FF;

      .icon {
        opacity: 0;

        &--hover {
          opacity: 1;
        }
      }
    }

    &:active {
      border-color: #303FC0;

      .icon {
        opacity: 0;

        &--active {
          opacity: 1;
        }
      }
    }
  }

  &:disabled {
    background-color: #E9E9EB;
    cursor: not-allowed;
  }
}

.icon {
  transition: opacity .3s;
  height: auto;
  width: 17.5px;

  &--hover {
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
  }

  &--active {
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
  }
}
