.container {
  display: block;
}

.title {
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 17px;
  font-size: 14px;
  display: block;
  color: #8B8C93;
}

.input {
  background-color: #F6F7FA;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 17px;
  font-size: 14px;
  padding: 10px 15px;
  outline: none;
  width: 100%;
  color: #3E3F4B;
}
