.container {
  background-color: #F6F7FA;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  position: relative;
  display: flex;
}

.sidebar {
  position: relative;
  z-index: 10;
}

.content {
  background-color: #F6F7FA;
  position: absolute;
  opacity: .7;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
